/* -------------------------------- */
/* -- File: desktop-style.css ----- */
/* -- Build number: #230405         */
/* -- Version: 1.0.0                */
/* -- Author: Pawel Szymczyk        */
/* -- PS 2023                       */
/* -------------------------------- */


/* -------------------------------- */
/* -- nes ------------------------- */
.nes-btn {
    margin: 0 10px;
}


/* -------------------------------- */
/* -- content --------------------- */
.content {
    grid-template-rows: auto 8vh; 
}

.text-container {
    grid-template-columns: 50% auto;
}

.greetings-container, .about-container, .experience-container, .contact-container {
    margin: 2em;
}

.action-container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


/* -------------------------------- */
/* avatar ------------------------- */

.avatar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) scale(0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    }
    
    .avatar.show {
    transform: translateY(-50%) scale(1);
    opacity: 1;
    }

    .avatar.move {
        transform: translateY(100%) scale(1);
        top: 0;
    }

#message {
    position: fixed;
    top: 50%;
    transform: translate(5vw,-100%) scale(0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    }

    #message.show {
        transform: translate(5vw,-100%) scale(1);
        opacity: 1;
    }





/* -------------------------------- */
/* -- form ------------------------ */
.submit-container {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
}


/* -------------------------------- */
/* footer ------------------------- */
.footer-box  {
    width: 40vw;
}