/* -------------------------------- */
/* -- File: portrait-style.css ---- */
/* -- Build number: #230408         */
/* -- Version: 1.0.0                */
/* -- Author: Pawel Szymczyk        */
/* -- PS 2023                       */
/* -------------------------------- */

/* -------------------------------- */
/* -- nes ------------------------- */
.nes-btn {
    margin: 7px;
}

.nes-container {
    padding: 1rem;
}

/* -------------------------------- */
/* -- content --------------------- */

h2 {
    font-size: 0.9rem;
}

h3 {
    font-size: 0.8rem;
}

p, li, .nes-field {
    font-size: 0.8rem;
}

.content {
    grid-template-rows: auto 25vh;
}

.greetings-container, .about-container, .experience-container, .contact-container {
    margin: 0.5em;
}

.greetings-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

#message {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#message.show {
    opacity: 1;
    transition: opacity 1s linear;
}

.action-container {
    flex-direction: column;
    justify-content: flex-end;
}


/* -------------------------------- */
/* -- form ------------------------ */
.submit-container {
    display: flex; 
    flex-direction: column; 
}


/* -------------------------------- */
/* footer ------------------------- */
.footer-box  {
    width: 80vw;
}



